<!DOCTYPE html>
<html>
  <head>
    <title>A2A Tarot</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="normalize.css">
    <link rel="stylesheet" type="text/css" href="tc.css">
  </head>
  <body>
    <div id="page">
      <h1><center>Apples to Apples Tarot randomizer</center></h1>
      <div>
        <center><%= motd %></center>
      </div>
      <ul class="cards-list">
        <%= cards_list %>
      </ul>
      <center>
      <input type="button" onClick="history.go(0)" VALUE="Get new cards">
      </center>
      <br>
      </form>
    </div>
  </body>
  <footer>
  <center>
  Made with love for the CWCki Forums
  </center>
  </footer>
</html>