<!DOCTYPE html>
<html>
  <head>
    <title>Admin Page</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="normalize.css">
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body>
    <div id="page">
      <h1>Admin Page</h1>
      <div>
        <%= motd %>
      </div>
      <h2>Options</h2>
      <ul>
        <li><a href="/admin/delete">Clear messages</a></li>
      </ul>
      <br>
      <a href="/">Go back</a>
    </div>
  </body>
</html>
